.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .bg-gray {
    background-color: rgb(194, 194, 194); /* Cambia #ff0000 por el color que desees */
  }

  .bg-purple {
    background-image: linear-gradient(to bottom, rgb(122, 122, 122), rgb(226, 226, 226));
  }